body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #006699; text-decoration: none; }
a:visited { color: #666; }
a:hover { text-decoration: underline; }

.fieldWithErrors {
  padding: 2px;
  color: white;
  background-color: #D8000C;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 1px solid #D8000C;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #FFBABA;
}

#errorExplanation h2 {
  border-bottom: 1px solid #D8000C;
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #D8000C;  
  color: white;
}

#errorExplanation p {
  color: #D8000C;  
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul {
  background-repeat: no-repeat;
  background-position: 0 center;
  background-image: url('../images/message_icons/error.png');
}

#errorExplanation ul li {
  color: #D8000C;    
  margin-left: 15px;
  font-size: 12px;
  list-style: square;
}

div.info, div.success, div.warning, div.error {
	border: 1px solid;
	margin: 10px 0px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	width: 500px;
}

div.info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('../images/message_icons/info.png');	
}

div.success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('../images/message_icons/success.png');
}

div.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../images/message_icons/warning.png');
}

div.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../images/message_icons/error.png');	
}

ul.list-pin {
	margin: 0;
	padding: 0;
}

ul.list-pin li {
	margin: 0;
	padding: 0 0 0 16px;
	list-style: none;
	background: url('../images/list_icons/pin.jpg') no-repeat left center;
}

div.luxury {
	margin: 0 0 0 15px;
	font-size: 9.5px;
	font-style: italic;
	letter-spacing: 0.25em;
}

table.horizontal-minimal {
	border-collapse:collapse;
	/*font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	font-size:12px;
	margin-bottom:45px;
	margin-left:45px;
	margin-right:45px;
	margin-top:45px;*/
	text-align:left;
	/*width:480px*/	
}

table.horizontal-minimal th {
	background-attachment:scroll;
	background-color:#B9C9FE;
	background-image:none;
	background-position:0 0;
	background-repeat:repeat;
	border-bottom-color:#FFFFFF;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-top-color:#AABCFE;
	border-top-style:solid;
	border-top-width:4px;
	color:#003399;
	font-size:13px;
	font-weight:normal;
	padding-bottom:8px;
	padding-left:8px;
	padding-right:8px;
	padding-top:8px;
}

table.horizontal-minimal td {
	background-attachment:scroll;
	background-color:#E8EDFF;
	background-image:none;
	background-position:0 0;
	background-repeat:repeat;
	border-bottom-color:#FFFFFF;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-top-color:transparent;
	border-top-style:solid;
	border-top-width:1px;
	color:#666699;
	padding-bottom:8px;
	padding-left:8px;
	padding-right:8px;
	padding-top:8px;
}

table.horizontal-minimal tbody tr:hover td {
	background-attachment:scroll;
	background-color:#D0DAFD;
	background-image:none;
	background-position:0 0;
	background-repeat:repeat;
	color:#333399;
}

table.horizontal-zebra {
	border-collapse:collapse;
	/*font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	font-size:12px;
	margin-bottom:45px;
	margin-left:45px;
	margin-right:45px;
	margin-top:45px;*/
	text-align:left;
	width: 600px;
}

table.horizontal-zebra th {
	color:#003399;
	background-color:#D0DAFD;
	/*font-size:14px;
	font-weight:normal;*/
	padding-bottom:10px;
	padding-left:8px;
	padding-right:8px;
	padding-top:10px;
}

table.horizontal-zebra td {
	color:#666699;
	padding-bottom:8px;
	padding-left:8px;
	padding-right:8px;
	padding-top:8px;
}

table.horizontal-zebra .odd {
	background-attachment:scroll;
	background-color:#E8EDFF;
	background-image:none;
	background-position:0 0;
	background-repeat:repeat;
}

table.horizontal-zebra tbody tr:hover td {
	background-attachment:scroll;
	background-color:#D0DAFD;
	background-image:none;
	background-position:0 0;
	background-repeat:repeat;
	color:#333399;
}

div.horizontal-zebra {
	border-collapse:collapse;
	/*font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	font-size:12px;
	margin-bottom:45px;
	margin-left:45px;
	margin-right:45px;
	margin-top:45px;*/	
	text-align:left;
	width:250px;
}

div.horizontal-zebra p.head {
	color:#003399;
	background-color:#D0DAFD;
	/*font-size:14px;
	font-weight:normal;*/
	padding-bottom:10px;
	padding-left:8px;
	padding-right:8px;
	padding-top:10px;	
	margin: 0;
}

div.horizontal-zebra p {
	color:#666699;
	padding-bottom:8px;
	padding-left:8px;
	padding-right:8px;
	padding-top:8px;
	margin: 0;
}


div.horizontal-zebra p.odd {
	background-attachment:scroll;
	background-color:#E8EDFF;
	background-image:none;
	background-position:0 0;
	background-repeat:repeat;
}

div.horizontal-zebra p:hover {
	background-attachment:scroll;
	background-color:#D0DAFD;
	background-image:none;
	background-position:0 0;
	background-repeat:repeat;
	color:#333399;
}

h3.no-margin {
	margin: 0;
}
