<h1>Categories for <%= @user.username %></h1>

<div>
  
  <ul class="list-pin">
	<% @user_categories.each do |category| %>	  
	  	<li><strong><%=h category.name %></strong></li>	  
	<% end %>
  </ul>

</div>

<br />

<%= link_to 'Back', @user %> |
<%= link_to 'New Category', new_user_category_path(@user) %>